<div class="example-container">
  <!-- <form [formGroup]="options" (ngSubmit)="saveForm()"> -->
  <form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <app-generic-input
      [placeholder]="'Email'"
      [isRequired]="true"
      [errorMsg]="'בבקשה הכנס את שם הפעולה '"
      [label]="'שם הפעולה'"
      ngModel
      name="name"
    ></app-generic-input>

    <app-generic-input
      [placeholder]="'Email'"
      [isRequired]="false"
      [errorMsg]="'בבקשה הכנס את שם הפעולה '"
      [label]="'סוג הפעולה'"
      ngModel
      name="type"
    ></app-generic-input>

    <!-- <label>
      שם
      <input type="text" formControlName="name" required />
    </label> -->

    <label>
      סוג
      <input type="text" formControlName="type" required />
    </label>

    <!-- <label>
      תאריך התחלה
      <input type="date" formControlName="startDate" required />
    </label>

    <label>
      תאריך סיום
      <input type="date" formControlName="endDate" required />
    </label> -->
    <!-- <label>
      פרטים נוספים
      <input type="text" formControlName="details" />
    </label> -->

    <app-generic-input
      [placeholder]="'Email'"
      [isRequired]="false"
      [errorMsg]="'נא להכניס פרטים נוספים בפורמט הנכון '"
      [label]="'פרטים נוספים'"
      [pattern]="'netanel'"
      ngModel
      name="details"
    ></app-generic-input>

    <button [disabled]="!f.valid" type="submit">
      שמור
    </button>
  </form>
</div>
