<div class="form-label-group">
  <input
    class="form-control"
    [type]="type"
    #input
    (input)="onChange($event.target.value)"
    (blur)="onTouched()"
    [disabled]="disabled"
    [placeholder]="placeholder"
  />

  <div class="d-flex">
    <span
      class="v"
      *ngIf="
        (isRequired &&
          controlDir &&
          controlDir.control.valid &&
          controlDir.control.touched) ||
        (!isRequired && input.value.length > 0)
      "
    >
      <i class="fas fa-check"></i>
    </span>

    <label class="mr-auto"
      >{{ label }}
      <span class="required" *ngIf="isRequired">*</span>
    </label>

    <span
      class="error"
      *ngIf="
        controlDir && !controlDir.control.valid && controlDir.control.touched
      "
      >{{ errorMsg }}</span
    >
  </div>
</div>
