<p>actions works!</p>
<div class="example-button-container add-button">
  <button
    (click)="clickAddAction()"
    mat-fab
    color="warn"
    aria-label="Example icon button with a home icon"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<app-table-actions></app-table-actions>

<form class="form-signin" (ngSubmit)="onSubmit(f.value)" #f="ngForm" dir="rtl">
  <app-generic-input
    [placeholder]="'בבקשה הכנס את שם הפעולה'"
    [isRequired]="true"
    [errorMsg]="'בבקשה הכנס את שם הפעולה '"
    [label]="'שם הפעולה'"
    ngModel
    name="name"
    [(ngModel)]="name"
  ></app-generic-input>

  <app-generic-input
    [placeholder]="'בבקשה הכנס את סוג הפעולה'"
    [isRequired]="false"
    [errorMsg]="'בבקשה הכנס את שם הפעולה '"
    [label]="'סוג הפעולה'"
    ngModel
    name="type"
    [(ngModel)]="type"
  ></app-generic-input>

  <app-generic-input
    [placeholder]="'בבקשה הכנס פרטים נוספים אודות הפעולה'"
    [isRequired]="false"
    [errorMsg]="'נא להכניס פרטים נוספים בפורמט הנכון '"
    [label]="'פרטים נוספים'"
    [pattern]="'netanel'"
    ngModel
    name="details"
    [(ngModel)]="details"
  ></app-generic-input>

  <app-generic-input-date
    [placeholder]="'הכנס תאריך סיום'"
    [isRequired]="true"
    [errorMsg]="'התאריך לא יכול להיות קטן מתאריך נוכחי'"
    [label]="'תאירך סיום'"
    ngModel
    name="date"
    [(ngModel)]="date"
  ></app-generic-input-date>

  <button [disabled]="!f.valid" type="submit">
    שמור
  </button>
</form>
